.action_modal_backdrop{
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.action_modal{
  margin-top: 448px;
  width: 320px;
  height: 120px;
  background-color: #ffffff;
}
