.container {
  background: rgb(255, 255, 255);
  border-radius: 0px 0px 0px 0px;
  height: 480px;
  width: 280px;
  margin-top: 41px;

  .main-title {
    height: 28px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0px;
    padding-top: 44px;
  }

  .message-container {
    margin: auto;
    font-style: normal;
    font-stretch: normal;
    width: 216px;
    height: 60px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0px;
    padding-top: 24px;
  }

  .middle-container {
    width: 440px
  }

  .action-container {
    margin-top: 35px;
    button {
      margin: 5px 32px;
      min-width: 130px;
      width: 216px;
      height: 40px;
      background: rgb(0, 0, 0);
      border-radius: 0px;
      font-weight: 300;
      text-align: center;
      letter-spacing: 0px;
    }
    .cancel-button{
      background: rgb(255,255, 255);
      border: 1px solid rgb(0, 0, 0);
    }
  }

}
.request-success{
  height: 308px;
  width: 280px;
}